<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Conference Ticket</title>
    <style>
      body {
        font-family: "Roboto", Arial, sans-serif;
        padding: 50px;
        background: #f8f9fa;
        color: #212529;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div>
      <p>Un message en français suivra.</p>
      <p style="padding-top: 5px">Hello <%= firstName %></p>
      <p style="padding-top: 5px">
        Thank you for registering. Your participation is greatly valued, and we look forward to bringing together professionals and leaders to share ideas, foster collaborations, and advance innovative solutions for business, health, and climate resilience.
      </p>
      <p style="padding-top: 5px">
        If you require a visa invitation letter, it will be emailed to you within three business days.
      </p>
      <p style="padding-top: 5px">
        If you have any questions or require further assistance, please feel free to contact us at 
        <a
          href="mailto:registration@iccpc.ca"
          style="color: #0051ff; text-decoration: underline"
          >registration@iccpc.ca</a
        >
        <!-- For additional event details, please visit
        <a
          style="color: #0051ff"
          target="_blank"
          href="www.thriveglobalforum.com"
          >www.thriveglobalforum.com</a
        > -->
      </p>
      <p style="padding-top: 5px">
        Thank you, and we look forward to welcoming you.
      </p>
      <br />
      <p>
        -----------------------------------------------------------------------------------
      </p>
      <br />
      <p>Bonjour <%= firstName %></p>
      <p style="padding-top: 5px">
        Merci pour votre inscription. Votre participation est grandement appréciée, et nous nous réjouissons de réunir des professionnels et des leaders afin de partager des idées, favoriser des collaborations et promouvoir des solutions innovantes en matière de résilience des entreprises, de la santé et du climat.
      </p>
      <p style="padding-top: 5px">
        Si vous avez besoin d’une lettre d’invitation pour visa, celle-ci vous sera envoyée par courriel dans un délai de trois jours ouvrables.
      </p>
      <p style="padding-top: 5px">
        Si vous avez des questions ou besoin d’une assistance supplémentaire, n’hésitez pas à nous contacter à 
        <a
          href="mailto:registration@iccpc.ca"
          style="color: #0051ff; text-decoration: underline"
          >registration@iccpc.ca</a
        >
      </p>
      <p style="padding-top: 5px">
        Merci, et au plaisir de vous accueillir.
      </p>
    </div>
  </body>
</html>
